*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(235, 235, 235);
    /* background-attachment: fixed;
    background-size: cover;
    background-position-y: 38%;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color:rgba(0, 0, 0, 0.6); */
}

.topo{
    display: flex;
    justify-content: center;
}
header{
    display: flex;
    color: rgba(248, 247, 247, 0.938);
}

header{
    width: 1400px;
    height: 70px;
    background-color: rgba(51, 51, 51, 0.979);
    border-radius: 20px;
}

header>h1{
    padding: 17px 100px;
}

.pontos{
    margin-top: 22px;
    font-size: 25px;
    text-decoration: none;
    color: rgba(248, 247, 247, 0.938);
    transition: 0.5s all ease;
}

.sobre{
    margin-top: 22px;
    padding: 0 40px;
    font-size: 25px;
    text-decoration: none;
    color: rgba(248, 247, 247, 0.938);
    transition: 0.5s all ease;
}

.inicio{
    padding: 0 5px;
    margin-top: 22px;
    font-size: 25px;
    margin-left: 430px;
    text-decoration: none;
    color: rgba(248, 247, 247, 0.938);
    transition: 0.5s all ease;
}

.inicio:hover, .sobre:hover, .pontos:hover{
    color: rgb(255, 176, 29); 
}

main{
    padding: 50px 64px;
}

.container{
    display: flex;
    justify-content: center;
    border-radius: 12px;
    width: 1397px;
    height: auto;
    background-color: rgb(255, 176, 29) ;
    padding: 30px;
}

.box{
    width: 100%;
    height: auto;

}

.boxs{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-top: 20px;
    background-color: rgba(248, 247, 247, 0.938);
    border-radius: 12px;
}

.image{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 350px;
}

.image .image2 h1{
    font-size: 18px;
    color: rgb(28, 28, 28);
}

.image img, .image2 img{
    width: 360px;
    height: 320px;
    padding-top: 15px;
    border-radius: 15px;
}

.image2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 350px;
    margin-left: 904px;
}
.content2{
    margin-top: 20px;
    font-size: 17px;
    padding: 40px;
    width: 880px;
    margin-right: -853px;
    height: auto;
    margin-bottom: 28px;
}

.content{
    margin-top: 20px;
    font-size: 17px;
    padding: 40px;
    margin-left: 50px;
    width: 100%;
    height: auto;
    margin-bottom: 28px;
}

@media (max-width: 1024px) {
    body{
        zoom: 0.67 ;
    }

    .content, .content2{
        font-size: 20px;
    }

    header{
        width: 1300px;
        margin-right: 65px ;
        margin-left: 58px;
    }

    main{
        padding: 50px 103px;
    }

}

@media (max-width: 1440px) {
    .container{
        margin-left: -43px;
    }
}

@media (max-width: 1366px) {
    header h1{
        margin-right: -145px;
    }

    .container{
        margin-left: -80px;
    }
}




/* footer */
.boxs_footer{
    margin-top: 100px;
    width: 100%;
    height: 200px;
    background-color: rgb(255, 176, 29);
    display: flex;
    justify-content: center;
}

.box_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: auto;
}

.content_box_footer p{
    font-weight: 460;
    font-size: 18px;
}

.content_box_footer span{
    font-weight: bold;
}

.content_box_footer .bi{
    color: black;
    font-size: 45px;
    padding: 10px;
}

/* footer */
